<div class="container mt-4">
    <form action="/login" method="post">
        
    <fieldset>
        <legend>Login</legend>
        <!-- USERNAME -->
        <div class="form-group">
        <label for="comment-title">Username</label><br>
        <input class="form-control"
            {{!-- id="comment-title" --}}
            type="text"
            name="username"
            placeholder="FrenchFry"/>
        </div>
        
        <!-- PASSWORD -->
        <div class="form-group">
        <label for="comment-content">Password</label><br>
        <input class="form-control"
        {{!-- id="comment-content" --}}
        type="password"
        name="password"
        placeholder="Your Password"/></input>
        </div>
    </fieldset>
    <br>
    <!-- BUTTON -->
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
    </form>
</div>