{{> navbar }}
<div class="container">
    <form method="post" action='/reviews/new'>

        {{> reviews-form}}
        
        <p>
            <button type="submit">Save Review</button>
        </p>
        
    </form>
</div>