<div class="container mt-4">
    <form action="sign-up" method="post">
        
    <fieldset>
        <legend>Sign Up</legend>
        <!-- USERNAME -->
        <div class="form-group">
        <label for="comment-title">Username</label><br>
        <input class="form-control"
            id="comment-title"
            type="text"
            name="username"
            placeholder="FrenchFry"/>
        </div>
        
        <!-- PASSWORD -->
        <div class="form-group">
        <label for="comment-content">Password</label><br>
        <input class="form-control"
        id="comment-content"
        type="password"
        name="password"
        placeholder="Your Password"/></input>
        </div>
    </fieldset>
    <br>
    <!-- BUTTON -->
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Signup</button>
    </div>
    </form>
</div>